<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RegistryUrl>ghcr.io</RegistryUrl>
    <UserName>lorenzobaronio22</UserName>
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>146eb40b-ca7f-469f-b482-bc1fbe9115a7</ProjectGuid>
    <_TargetId>NetSdkCustomContainerRegistry</_TargetId>
    <ContainerBaseImage>mcr.microsoft.com/dotnet/aspnet:9.0</ContainerBaseImage>
    <ContainerRepository>lorenzobaronio22/my-cinebook</ContainerRepository>
  </PropertyGroup>
    <ItemGroup>
        <ContainerPort Include="80" Type="tcp" />
    </ItemGroup>
</Project>